@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
   
    font-family: "Roboto Condensed",sans-serif;
  
    
}
nav{
    z-index: 2;
}

.header-wrapper{
    position: relative;
    background: url(pen.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.main-info{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 1;
}
.main-info h1{
    color: rgb(240, 160, 13);
    font-size: 1.5rem !important;
}
.typed-text{
    font-size: 2rem;
    color: white;
}


@media(max-width: 768px){
    .main-info h1{
        font-size: 1.5rem !important;
    }
    .typed-text{
        font-size: 1.3rem !important;
    }
}
/* header main  button */
.btn-main-offer{
    border: 1px solid rgb(235, 96, 96);
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: white;
    margin: 2rem;
}
.btn-main-offer:hover{
    text-decoration: none;
    background-color:green;
    color: white;
    transition: 2s ease-in-out;
}
/* header main  button */
.tsparticles-canvas-el{
position: absolute;
height: 90vh;
width: 100vw;
z-index: 1;
}
@media (max-width:768px){
    .particles-canvas{
        display: none;
    }
}